{% extends 'landing/base.html' %}
{% load static %}
{% block content %}


  
<div class="page-section">
  <div class="container">
    <div class="text-center wow fadeInUp">
      <div class="subhead">Pricing Plan</div>
      <h2 class="title-section">Choose plan the right for you</h2>
      <div class="divider mx-auto"></div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4 py-3 wow zoomIn">
        <div class="card-pricing">
          <div class="header">
            <div class="pricing-type">Free</div>
            <div class="price">
              <span class="dollar">$</span>
              <h1>00<span class="suffix">.00</span></h1>
            </div>
            <h5>Per Month</h5>
          </div>
          <div class="body">
            <p>10,000 Characters <span class="suffix"> Per Week</span></p>
            <p>All Use Cases <span class="suffix"> Available</span></p>
            <p>30+ Languages <span class="suffix"> Available</span></p>
            <p>Voice Tunes <span class="suffix"> Not Available</span></p>
            <p>Support <span class="suffix"> Not Available</span></p>
          </div>
          <div class="footer">
            <a href="#" class="btn btn-pricing btn-block">Subscribe</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 py-3 wow zoomIn">
        <div class="card-pricing marked">
          <div class="header">
            <div class="pricing-type">Standar Writer</div>
            <div class="price">
              <span class="dollar">$</span>
              <h1>09<span class="suffix">.99</span></h1>
            </div>
            <h5>Per Month</h5>
          </div>
          <div class="body">
            <p>10,000 Characters <span class="suffix"> Per Day</span></p>
            <p>All Use Cases <span class="suffix"> Available</span></p>
            <p>30+ Languages <span class="suffix"> Available</span></p>
            <p>Voice Tunes <span class="suffix"> Available</span></p>
            <p>Support <span class="suffix"> Available</span></p>
          </div>
          <div class="footer">
            <a href="#" class="btn btn-pricing btn-block">Subscribe</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 py-3 wow zoomIn">
        <div class="card-pricing" style="background-color:#FF8400">
          <div class="header">
            <div class="pricing-type">Advanced Writer</div>
            <div class="price">
              <span class="dollar">$</span>
              <h1>29<span class="suffix" style="color:#6c55f9">.99</span></h1>
            </div>
            <h5>Per Month</h5>
          </div>
          <div class="body">
            <p>Unlimited Characters</p>
            <p>All Use Cases <span class="suffix" style="color:#6c55f9"> Available</span></p>
            <p>30+ Languages <span style="color:#6c55f9" class="suffix"> Available</span></p>
            <p>Voice Tunes <span style="color:#6c55f9" class="suffix"> Available</span></p>
            <p>Support <span style="color:#6c55f9" class="suffix"> Available</span></p>
          </div>
          <div class="footer">
            <a href="#" class="btn btn-pricing btn-block">Subscribe</a>
          </div>
        </div>
      </div>

    </div>
  </div> <!-- .container -->
</div> <!-- .page-section -->


{% endblock content %}